@import "../../shared/components/variables.css";

.user-item {
  margin: 1rem;
  width: calc(45% - 2rem);
  min-width: 17.5rem;
}

.user-item a {
  display: flex;
  align-items: center;
  width: 100%;
  height: 100%;
  text-decoration: none;
  padding: 1rem;
  color: white;
  background: #292929;
}

.card.user-item__content > a:hover,
.card.user-item__content > a:active {
  background: #ffd900;
}

.card.user-item__content {
  padding: 0;
  position: relative;
}

.user-item__image {
  width: 3rem;
  height: 3rem;
  margin-right: 1rem;
}

.user-item__info h2 {
  font-size: 1rem;
  margin: 0 0 0.5rem 0;
  font-weight: normal;
  color: #ffd900;
}

.card.user-item__content > a:hover h2,
.card.user-item__content > a:active h2,
.card.user-item__content > a:hover h3,
.card.user-item__content > a:active h3 {
  color: #292929;
}

.user-item__info h3 {
  font-size:.8rem;
  margin: 0;
}

.user-item__edit-btn {
  float: right;
  position: absolute;
  top: 0;
  /* transform: translate(0, -50%); */
  right: 0;
  height: 1rem;
}
.user-item__edit-btn a {
  max-width: 60px;
  background-color: #666;
  border-color: #666;
  font-weight: bolder;
  text-align: center;
  margin:0;
  padding: .8rem;
}

.user-item__edit-btn a:hover {
  background: #ffd900;
  color: #292929;
  border-color: #ffd900;
}

@media (min-width: 414px) {
  .user-item__info h2 {
    font-size: 1.5rem;
  }
.user-item__info h3 {
  font-size: 1.25rem;
}

.user-item__image {
  width: 4rem;
  height: 4rem;
  margin-right: 1rem;
}

  }